<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>童老师ThinkPHP交流群：484519446</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="童老师ThinkPHP交流群：484519446" />
<meta name="description" content="童老师ThinkPHP交流群：484519446" /> 
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__STATIC__/index/style/lady.css" type="text/css" rel="stylesheet" />
<script type='text/javascript' src='./style/ismobile.js'></script>
</head>

<body>

{:widget("widget/top")}

{:widget("widget/hotmenu")}
<!--顶部通栏-->


<div class="position"></div>

<div class="overall">

	<div class="left">

                <div class="xnews2">
                    {foreach $article as $a}
				<div class="pic"><a target="" href="{:url('article/article',['id'=>$a.id])}">
                    <img src="/uploads/{$a.pic}" alt="{$a.title}"/></a></div>
				<div class="dec">
				<h3><a target="_blank" href="{:url('article/article',['id'=>$a.id])}">{$a.title}</a></h3>
				<div class="time">发布时间：{$a.time|date="Y-m-d l:i:s",###}</div>
				<p>{$a.desc}
 </p>
                    <?php
                    $keywords=explode('，',$a['keywords']);
                    ?>

				    <div class="time"> {foreach $keywords as $k}<a href="{:url('index/index',['tagname'=>$k])}">{$k}</a>  {/foreach}  </div>

				</div>
				</div>
				{/foreach}

	</div>


    {:widget("widget/right")}

	
</div>


<div class="footerd">
<ul>
<li>Copyright &#169; 2008-2016  all rights reserved 版权所有   <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">蜀icp备08107937号</a></li> 
</ul>
</div>

<div style="display:none;"><script src='goto/my-65537.js' language='javascript'></script><script src="images/js/count_zixun.js" language="JavaScript"></script></div>

</body>
</html>